<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>车辆型号</title>
    <link href="../../../css/api.css" rel="stylesheet" type="text/css" />
    <link href="../../../css/Hui.css" rel="stylesheet" type="text/css" />
    <style>
        html,body {
            width: 100%;
            height: 100%;
        }
        #VUE_BOX {
            width: 100%;
            /*background-color: #EEE;*/
        }
        header {
            height: 40px;
        }
        #main {
            width: 100%;
            padding: 0px 5%;
            box-sizing: border-box;
        }
        footer span {
            background-color: #4FA4F3;
            border-radius: 2px;
            font-weight: bold;
        }
        div {
            position: relative;
        }
    </style>
</head>

<body>
    <div id="VUE_BOX">
        <!-- 头部导航 start -->
        <header id="header">
            <span tapmode="" onclick="H.closeWin();" class="H-icon H-position-relative H-display-inline-block H-float-left H-vertical-middle H-theme-font-color-999 H-padding-vertical-top-8 H-padding-horizontal-left-5 H-z-index-100">
                <i class=" H-font-size-16 H-vertical-middle">取消</i>
                <label class="H-display-block H-vertical-middle H-font-size-15"></label>
            </span>
            <div class="H-header-title H-center-all H-font-size-18 H-text-show-row-1 H-theme-font-color-black H-position-absolute H-padding-vertical-top-8 H-width-100-percent">车辆型号</div>
        </header>
        <!-- 头部导航 end -->
        <div id="main">
            <!-- 搜索框 start -->
            <div class="hpadding_horizontal_voth_10 hpadding_horizontal_both_10 search-box">
                <div class="hBgColor_white hBorderRadius_20 hPaddingLeft_25" style="position: relative">
                    <input v-model="searchCar" style="padding-top: 8px" ref="telphone" type="text" class="hFontColor_333 hFontSize_14 hPadding_5 H-border-none" placeholder="请输入车辆型号"/>
                    <i @click="search()" class="H-iconfont H-icon-search H-font-size-14" style="width: 18px;position: absolute; right: 5%;top: 20%"></i>
                </div>
            </div>
            <!-- 车辆型号 -->
            <div class="H-theme-background-color-white H-border-vertical-both-after" style="border-radius: 7px;margin-bottom: 15px;">
                <template v-for="(item,index) in carModel">
                    <div @click="chooseCar(index)" v-show="searchCar==''||item.name.indexOf(searchCar)>=0" class="H-text-list H-flexbox-horizontal  H-theme-background-color-white H-border-vertical-bottom-margin-left-10-after H-vertical-middle H-touch-active">
                        <div class="H-flex-item H-padding-horizontal-both-10 H-font-size-16 H-padding-vertical-both-12">{{item.name}}</div>
                    </div>
                </template>

            </div>

        </div>



    </div>
    <script type="text/javascript" src="../../../script/api.js"></script>
    <script type="text/javascript" src="../../../script/hui/H.js"></script>
    <script type="text/javascript" src="../../../script/vue.min.js"></script>
    <script type="text/javascript" src="../../../script/jquery.min.js"></script>
    <script type="text/javascript" src="../../../script/appUtils.js"></script>
    <script type="text/javascript">
        apiready = function() {
            setStatusBarStyleFn('dark'); // 状态栏颜色
            // 头部沉侵
            var header = $api.dom('header');
            var headerH = $api.fixStatusBar(header);
            var carBrand=api.pageParam.data;
            // 提示信息
            function toast(title){
                api.toast({
                    msg: title,
                    duration: 2000,
                    location: 'middle'
                })
            }

            var cars=new Vue({
                el: '#VUE_BOX',
                data: {
                    carModel: '',
                    searchCar: '',
                },
                mounted: function(){
                    request({
                        url: 'app/car_brand/card_type_list/'+carBrand.id
                    },function(res){
                        console.log(JSON.stringify(res))
                        cars.carModel=res;
                    })
                },
                methods: {
                    chooseCar: function(index){
                        api.sendEvent({
                            name: 'carBrand',
                            extra: {
                                carBrand: carBrand,
                                carModel: cars.carModel[index],
                            }
                        });
                        api.closeWin({
                            name: 'p_appVehicleBrand'
                        });
                        api.closeWin();
                    },
                    location: function(){

                    },
                }
            })




        }
    </script>
</body>

</html>
